h3 {
padding: .7em 45%;
    font-size: 5em !important;
    margin-bottom: -20px;
    font-weight: 800;
}
body{
        background: #C74545;
        background: linear-gradient(135deg, #C74545, #F7F81E);
}
